parameters:
    ignoreErrors:
        - '#Property RamosISW\Jwt\Claims\ClaimsComponent::$Jwt
            (ADmad\JwtAuth\Auth\JwtAuthenticate) does not accept
            Cake\Auth\BaseAuthenticate|null.#'

